<div class="container-formulario">
  <label class="texto-titulo-tabela">Veículos ativados período</label><br />
  <form #f="ngForm" (ngSubmit)="relatorio(f)">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Data Inicial:</label>
        <input id="data_inicial" name="data_inicial" type="text" class="form-control datetime_plugi" #data_inicial="ngModel" ngModel minlength="10" maxlength="10" required onkeydown="javascript: fMasc( this, mData );" />
        <div *ngIf="data_inicial.errors?.required && data_inicial.touched" class="error">
          Data inicial inválida
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>Data FInal:</label>
        <input id="data_final" name="data_final" type="text" class="form-control datetime_plugi" #data_final="ngModel" ngModel minlength="10" maxlength="10" required onkeydown="javascript: fMasc( this, mData );" />
        <div *ngIf="data_final.errors?.required && data_final.touched" class="error">
          Data final inválida
        </div>
      </div>
    </div>
    <div class="campo_botoes">
      <div class="form-row">
        <div class="form-group col-md-12">
          <button id="gerar" type="submit" [disabled]="f.invalid" class="btn btn-info botao-novo"><i class="fas fa-print"></i>&nbsp;&nbsp;Gerar</button>
        </div>
      </div>
    </div>
  </form>
  <table id="tabela-dados" class="table table-bordered tabela-dados">
    <tr class="cabecalho-tabela">
      <th>ID</th>
      <th>Placa</th>
      <th>Data Cadastro</th>
      <th>Ativo</th>
    </tr>
    <tr class="corpo-tabela" *ngFor="let veic of veiculos">
      <td class="alinhamento-centro">{{veic.idVeiculo}}</td>
      <td class="alinhamento-centro">{{veic.placa}}</td>
      <td class="alinhamento-centro">{{veic.dataCadastro}}</td>
      <td class="alinhamento-centro">{{veic.ativo}}</td>
    </tr>
  </table>
</div>
