<div class="container-formulario">
    <label class="texto-titulo-tabela">Pesquisa de funcionários</label><br />
  <form #f="ngForm" (ngSubmit)="pesquisar(f)">
    <div class="form-row">
      <div class="form-group col-md-7">
        <label>Nome Funcionário:</label>
        <input id="nome" name="nome" type="text" class="form-control" #nome="ngModel" ngModel minlength="2" />
      </div>
      <div class="form-group col-md-4">
        <label>CPF:</label>
        <input id="cpf" name="cpf" type="text" class="form-control" #cpf="ngModel" ngModel minlength="14" maxlength="14" onkeydown="javascript: fMasc( this, mCPF );" />
      </div>
    </div>
    <div class="campo_botoes">
      <div class="form-row">
        <div class="form-group col-md-12">
          <button id="pesquisar" type="submit" class="btn btn-info botao-novo"><i class="fas fa-search"></i>&nbsp;&nbsp;Pesquisar</button>
        </div>
      </div>
    </div>
  </form>
  <table id="tabela-dados" class="table table-bordered tabela-dados">
    <tr class="cabecalho-tabela">
      <th>ID</th>
      <th>Nome</th>
      <th>CPF</th>
      <th>Data Nascimento</th>
      <th>Login</th>
    </tr>
    <tr class="corpo-tabela" *ngFor="let func of funcionarios">
      <td class="alinhamento-centro">{{func.idFuncionario}}</td>
      <td class="alinhamento-esquerdo">{{func.nome}}</td>
      <td class="alinhamento-centro">{{func.cpf}}</td>
      <td class="alinhamento-centro">{{func.dataNascimento}}</td>
      <td class="alinhamento-centro">{{func.login}}</td>
    </tr>
  </table>
</div>
