<div class="container-formulario">
  <form id="formulario-pesquisar-funcionario" name="funcionario" action="" method="POST">
    <div class="form-row">
      <div class="form-group col-md-7">
        <label>Nome Funcionário:</label>
        <input id="nome" name="nome" type="text" class="form-control" required value="" />
      </div>
      <div class="form-group col-md-4">
        <label>CPF:</label>
        <input id="cpf" name="cpf" type="text" class="form-control" required value="" />
      </div>
    </div>
    <div class="campo_botoes">
      <div class="form-row">
        <div class="form-group col-md-12">
          <button id="pesquisar" class="btn btn-info botao-novo"><i class="fas fa-search"></i>&nbsp;&nbsp;Pesquisar</button>
        </div>
      </div>
    </div>
  </form>
  <table class="table table-bordered tabela-dados">
    <thead class="cabecalho-tabela">
    <tr class="active">
      <td>&nbsp;</td>
      <td>Nome</td>
      <td>CPF</td>
      <td>Data Nascimento</td>
    </tr>
    </thead>

    <tbody class="corpo-tabela">
    <tr>
      <td class="alinhamento-centro">1</td>
      <td class="alinhamento-esquerdo">José Trajano</td>
      <td class="alinhamento-centro">123.456.789-01</td>
      <td class="alinhamento-centro">01/09/1910</td>
    </tr>
    </tbody>
  </table>
</div>
